.header {
  --color-base: #FFF;
  --color-body: #000;
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-md);
  background: var(--color-body);
  color: var(--color-base);
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: scroll;
  width: 100vw;
  .nav__list {
    flex-wrap: nowrap;
  }
  .nav__link .text {
    display: none;
  }
  .nav {
    @extend %container;
  }
  .nav__item {
    @extend %ts-body;
  }
}
