.index__title {
  @extend %header-border;
  @extend %ts-title-1;
}

.index__list {
  list-style: none;
}

.index__item .item__title,
.index__item .item__project {@extend %ts-title-3; display: inline;}
.index__item time,
.index__item .nav__link {@extend %ts-small;}
.index__link {@extend %ts-link;}


.index__item {
  margin-top: var(--spacing-lg);
  .nav,
  time,
  .item__link,
  .nav__link {display: block;}
  time {margin-bottom: var(--spacing-xs);}
  .nav {margin-top: var(--spacing-xs);}
  .nav__list {
    justify-content: flex-start;
  }
}

.index__item.taxonomy {
  margin-top: var(--spacing-sm);
  .nav, time {display: none;}
}

.index__item {
  &:before,
  &:after {
    @extend %ts-small;
    display: inline;
  }
  .nav__item:not(:last-child) {margin-right: .25em;}
  .nav__item:first-child .nav__link:before {content: "("; margin-right: .15em;}
  .nav__item:last-child .nav__link:after {content: ")"; margin-left: .15em;}
  .nav__item:not(:last-child) .nav__link:after {content: ", ";}
}

.main--categories,
.main--tags {
  .index__item.taxonomy {
    display: inline-block;
    margin: 0 var(--spacing-sm) var(--spacing-sm) 0;
  }
}
