.nav__list {
  list-style: none;
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav__item:not(:last-child) {
  margin-right: var(--spacing-md);
}
.nav__item {
  @extend %ts-title-1;
}
.nav__link .icon {
  margin-left: auto;
  margin-right: auto;
}
.nav__link .text {
  display: block;
  margin-top: var(--spacing-md);
}

.nav--taxonomies {
  .nav__link {
    @extend %ts-small;
  }
}
