.print {
  @extend %container;
  a {
    pointer-events: none;
  }
}
.section-print + .section-print {
  margin-top: var(--spacing-xl);
}
.section-print__inner {
  @extend .ts;
}

// cover
.print .cover {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .nav {
    margin: auto;
    .text {display: none;}
  }
}

// TOC
.print .toc {
  .toc__title {@extend %ts-title-1;}
  .toc__item {
    @extend %ts-title-2;
    margin-top: var(--spacing-xs);
    padding-left: 2em;
  }
}

// Content
.print .content {
  .project__title {border-bottom: var(--border-md) solid var(--color-base);}
  .project__title + .post .post__header {border-top: none;}
  .project + .project,
  .post + .post {margin-top: var(--spacing-xl);}
  .project__title, .post__header {position: relative;}
  .post {display: block;}
  .post__content {max-width: 100%;}
  .post__aside {padding-top: 0;}
  .nav--taxonomies .nav__list {
    flex-direction: row;
    justify-content: flex-start;
  }
  padding-bottom: var(--spacing-lg);
}
