.ts {
  @extend %ts-body;
  h1,
  h2 {
    @extend %ts-title-1;
  }
  h3,
  h4,
  h5,
  h6 {
    @extend %ts-title-2;
  }
  b, strong {
    font-family: var(--font-body-bold);
  }
  i, em {
    font-family: var(--font-body-italic);
  }
  ul, ol {list-style: none;}
  li {
    position: relative;
    padding-left: 1.5em;
    &:before {font-family: var(--font-body-bold);}
  }
  ol {
    counter-reset:li;
    li:before {
      content:counter(li);
      counter-increment:li;
      position: absolute;
      left: 0;
    }
  }
  ul li:before {
    content: "—";
    position: absolute;
    left: 0;
  }
  figure img {
    display: block;
  }
  figcaption h4 {
    @extend %ts-small;
  }
  figure.width-small {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 3px);
  }
}

// spacing
.ts {
  h1, h2, h3, h4, h5, h6 {
    margin: 1.8em 0 .6em 0;
  }
  h2:first-child {margin-top: 0;}
  p, ul, ol {
    margin-bottom: .6em;
  }
  figure,
  table {
    margin: 1.2em 0;
  }
  figcaption {margin-top: .3em;}
  figure h4 {margin: 0;}
}

// table
.ts table {
  width: 100%;
  @extend %ts-small;
  thead th {
    @extend %font-body-bold;
    border-bottom: var(--border-sm) solid var(--color-base);
  }
  tbody tr {
    &:nth-child(odd) {
      background-color: rgba(var(--color-base), .5);
    }
    &:not(:last-child) td {border-bottom: var(--border-sm) solid var(--color-base);}
  }
  td,
  th {
    &:not(:last-child) {
      border-right: var(--border-sm) solid var(--color-base);
      padding-right: .5em;
    }
  }
  td,
  th {
    &:not(:first-child) {
      padding-left: .5em;
    }
  }
  th,
  td {
    padding: .5em 0;
  }
  @include media("<sm") {
    th,
    td {
      display: block;
    }
  }
}
