{{ define "main" }}
<main class="main main--about">
  {{ partial "header" . }}
  <article class="post">
    <header class="post__header">
      <h1 class="post__title">{{.Title}}</h1>
    </header>
    <section class="post__content ts">
      {{ .Content }}
    </section>
  </article>
</main>
{{ end }}
