{{ define "main" }}
  <main class="main main--index main--{{ .Page.Type }}">
  {{ partial "header" . }}
  <section class="index">
      <h1 class="index__title">{{ .Page.Title }}</h1>
      <ul class="index__list">
        {{ range .Pages.ByDate.Reverse }}
        <li class="index__item {{ .Kind }}">
          <time>{{ dateFormat "January 2006" .Date }}</time>
          <a href="{{.Permalink}}" class="item__link">
            {{ if .Params.projects }}{{range .Params.projects}}<span class="item__project">{{ . }}:</span>{{end}}{{end}}
            <span class="item__title">{{ .Title }}</span>
          </a>
          {{ if .Params.categories }}
          <nav class="nav nav--taxonomies">
            <ul class="nav__list">
              {{range .Params.categories}}<li class="nav__item nav__item--category"><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="nav__link">{{ . }}</a></li>{{end}}
            </ul>
          </nav>
          {{end}}
        </li>
        {{ end }}
      </ul>
    </section>
  </main>
{{ end }}
