<article class="post">
  <header class="post__header">
    <h1 class="post__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <time class="post__date">{{ dateFormat "Jan. 06" .Date }}</time>
  </header>
  <section class="post__content ts">
    {{ .Content }}
  </section>
  <aside class="post__aside">
    {{ partial "taxonomies" . }}
  </aside>
</article>
