<nav class="nav nav--taxonomies">
  <ul class="nav__list">
    <!-- projects -->
    {{ if .Params.projects }}{{range .Params.projects}}<li class="nav__item nav__item--project"><a href="{{ "/projects/" | relLangURL }}{{ . | urlize }}" class="nav__link">{{ . }}</a></li>{{end}}{{end}}
    <!-- categories -->
    {{ if .Params.categories }}{{range .Params.categories}}<li class="nav__item nav__item--category"><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="nav__link">{{ . }}</a></li>{{end}}{{end}}
    <!-- tags -->
    {{ if .Params.tags }}{{range .Params.tags}}<li class="nav__item nav__item--tag"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="nav__link">{{ . }}</a></li>{{end}}{{end}}
  </ul>
</nav>
