@font-face {
  font-family: 'inter-medium';
  src: url('../fonts/Inter-Medium.woff2') format('woff2'),
       url('../fonts/Inter-Medium.woff') format('woff');
       font-style:  normal;
       font-weight: normal;
}

@font-face {
  font-family: 'inter-medium-italic';
  src: url('../fonts/Inter-MediumItalic.woff2') format('woff2'),
       url('../fonts/Inter-MediumItalic.woff') format('woff');
       font-style:  normal;
       font-weight: normal;
}

@font-face {
  font-family: 'inter-bold';
  src: url('../fonts/Inter-Bold.woff2') format('woff2'),
       url('../fonts/Inter-Bold.woff') format('woff');
       font-style:  normal;
       font-weight: normal;
}

@font-face {
  font-family: 'inter-bold-italic';
  src: url('../fonts/Inter-BoldItalic.woff2') format('woff2'),
       url('../fonts/Inter-BoldItalic.woff') format('woff');
       font-style:  normal;
       font-weight: normal;
}
