/*------------------------------------*\
  #PRINT STYLE
\*------------------------------------*/


@mixin print-styles {
  body {
    background: #fff !important;
    color: #000;
  }
  .section-print:not(.cover),
  .project {
    page-break-after: always;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  img,
  figure,
  table,
  pre,
  ul,
  ol,
  a {
    page-break-inside:avoid;
  }
  p {widows :3 ; orphans : 3 ; }
  h1, h2, h3, h4, h5, h6 { page-break-after:avoid; page-break-inside:avoid }
}
