%ts-title-1 {
  @extend %font-body-bold;
  font-size: var(--font-size-lg);
}
%ts-title-2 {
  @extend %font-body-bold;
  font-size: var(--font-size-md);
}
%ts-title-3 {
  @extend %font-body;
  font-size: var(--font-size-md);
}
%ts-body {
  @extend %font-body;
  font-size: var(--font-size-md);
}
%ts-small {
  @extend %font-body;
  font-size: var(--font-size-sm);
}
%ts-link {
  color: var(--base-color);
  text-decoration: underline;
}
