@import "utils/_reset.scss";
@import "utils/_fonts.scss";
@import "utils/_variables.scss";
@import "utils/_text-styles.scss";
@import "utils/_global.scss";
@import "utils/_mediaqueries.scss";
@import "components/_home.scss";
@import "components/_header.scss";
@import "components/_icon.scss";
@import "components/_nav.scss";
@import "components/_index.scss";
@import "components/_post.scss";
@import "components/_project.scss";
@import "components/_ts.scss";
@import "components/_print.scss";


body {
  background-color: var(--color-body);
  color: var(--color-base);
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  -webkit-font-smoothing: antialiased;
}

/*------------------------------------*\
  PRINT
\*------------------------------------*/

@import "utils/_print-styles.scss";
@media print {
  html {
    font-size: 12px;
  }
  html, body {
    size: auto;
  }
  @page {
    size: A4;
    margin: 15mm 5mm;
  }
  @include print-styles;
}
